:root {
    --test-test : 0px;
    --nav-padding: 0px 3%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f1f5f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
}

a {
    color: black;
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
}

nav ul {
    display: flex;
    gap: 45px;
    padding: var(--nav-padding);
    flex-wrap: wrap;
}

#icon {
    position: relative;
    width: 5vw;
    height: 5vh;
    bottom: 1vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding: var(--nav-padding);
}

.dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 10vh;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.show {
    display: block;
}

/* main content */

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    gap: 5%;
    left: 15%;
    bottom: 25%;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    overflow-x: hidden;
}

.lookup-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 20%;
}

#search {
    width: 15vw;
    height: 3vh;
    border: none;
    border-radius: 10px;
    font-size: large;
}

.card {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: black;
    width: 90%;
    height: 100px;
}

.card *:nth-child(1) {
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mutate-card{
    display: flex;
    justify-content: space-around;
}